# jekyll
_site/

# sass
.sass-cache

# python
*.py[co]

# editor
*~
*.bak
*.orig
*.swp
*.mo
*.sublime-*
tmp

# generated
_css/applysquare.css
_js/applysquare.js

*.coffee.js
*.sass.css
.sass-cache

Gemfile.lock
