<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<div class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" id="button" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</div>
<a class="navbar-brand" href="/">
<span class="logo"></span><span lang="en">ApplySquare Blog</span><span class="hide" lang="zh">申请方博客</span></a>
</div>
<div class="collapse navbar-collapse" id="navbar">
<ul class="nav navbar-nav">
<li class="{% if page.tab == 'home' %}active{% endif %}">
<a href="/"><span lang="en">Home</span><span class="hide" lang="zh">首页</span></a>
</li>
<li class="{% if page.tab == 'news' %}active{% endif %}">
<a href="/news/"><span lang="en">News</span><span class="hide" lang="zh">媒体</span></a>
</li>
<li class="{% if page.tab == 'branding' %}active{% endif %}">
<a href="/branding/"><span lang="en">Branding</span><span class="hide" lang="zh">品牌</span></a>
</li>
<!-- %li{class: "{% if page.tab == 'family' %}active{% endif %}"} -->
<!-- %a{href: "/family/"} -->
<!-- %span{lang: "en"}<> A2 Family -->
<!-- %span.hide{lang: "zh"}<> A2 Family -->
<li class="{% if page.tab == 'team' %}active{% endif %}">
<a href="/team/"><span lang="en">Team</span><span class="hide" lang="zh">团队</span></a>
</li>
<li class="{% if page.tab == 'aboutus' %}active{% endif %}">
<a href="/aboutus/"><span lang="en">About Us</span><span class="hide" lang="zh">关于</span></a>
</li>
<!-- %li{class: "{% if page.tab == 'archive' %}active{% endif %}"} -->
<!-- %a{href: "/archive/", lang: "en"} -->
<!-- %span<> All posts -->
<!-- %a.hide{href: "/存档/", lang: "zh"} -->
<!-- %span<> 所有文章 -->
</ul>
</div>
</div>
</nav>
