<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<div class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" id="button" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</div>
<a class="navbar-brand" href="/">
<span class="logo"></span>
</a>
</div>
<div class="collapse navbar-collapse" id="navbar">
<ul class="nav navbar-nav">
<li class="{% if page.tab == 'aboutus' %}active{% endif %}">
<a href="/"><span lang="en">About Us</span><span class="hide" lang="zh">关于我们</span></a>
</li>
<li class="{% if page.tab == 'joinus' %}active{% endif %}">
<a href="/joinus/"><span lang="en">Join Us</span><span class="hide" lang="zh">加入我们</span></a>
</li>
<li class="{% if page.tab == 'blog' %}active{% endif %}">
<a href="/blog/"><span lang="en">Blog</span><span class="hide" lang="zh">博客文章</span></a>
</li>
<li class="{% if page.tab == 'media' %}active{% endif %}">
<a href="/media/"><span lang="en">Media</span><span class="hide" lang="zh">媒体报道</span></a>
</li>
<li class="{% if page.tab == 'a2' %}active{% endif %}">
<a href="/a2/"><span lang="en">A2 Family</span><span class="hide" lang="zh">A2家庭</span></a>
</li>
<!-- %li{class: "{% if page.tab == 'family' %}active{% endif %}"} -->
<!-- %a{href: "/family/"} -->
<!-- %span{lang: "en"}<> A2 Family -->
<!-- %span.hide{lang: "zh"}<> A2 Family -->
<!-- %li{class: "{% if page.tab == 'archive' %}active{% endif %}"} -->
<!-- %a{href: "/archive/", lang: "en"} -->
<!-- %span<> All posts -->
<!-- %a.hide{href: "/存档/", lang: "zh"} -->
<!-- %span<> 所有文章 -->
</ul>
</div>
</div>
</nav>
