<div id="header">
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<div class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" id="button" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</div>
<a class="navbar-brand" href="/">
<span class="logo"></span><span lang="en">ApplySquare Blog</span><span class="hide" lang="zh">申请方博客</span></a>
</div>
<div class="collapse navbar-collapse" id="navbar">
<ul class="nav navbar-nav">
<li>
<a href="/archive/" lang="en"><span>All posts</span></a><a class="hide" href="/存档/" lang="zh"><span>所有文章</span></a></li>
</ul>
</div>
</div>
</nav>
</div>
