== ---
layout: base
title: Archive
language: en
permalink: /family/
tab: family
== ---
= "\n\n"

/ = "{% include welcome.html content='<h1>A2 Family</h1>'%}"

.archive<>
  .container<>
    .col-md-12.row<>
      .col-md-10.row
        .archive-posts<>
          = "{% include archive.html posts=site.categories.family %}"
      .col-md-2.row
        / %ul.nav.nav-list.archive-nav
        /   %li
        /     %a{'href': '/family/'}
        /       全部
        /   %li
        /     %a{'href': '#'}
        /       看世界
        /   %li
        /     %a{'href': '#'}
        /       游名校
        /   %li
        /     %a{'href': '#'}
        /       深夜食堂
        /   %li
        /     %a{'href': '#'}
        /       植物园
        /   %li
        /     %a{'href': '#'}
        /       艳遇故事
        /   %li
        /     %a{'href': '#'}
        /       点滴琐记
        /   %li
        /     %a{'href': '#'}
        /       不良趣味