== ---
layout: base
permalink: /
tab: home
== ---
= "\n\n"

%div{lang: "en"}<>
  = "{% include welcome.html content='<h1>ApplySquare, planning your future</h1>' %}"

.hide{lang: "zh"}<>
  = "{% include welcome.html content='<h1>申请方，规划你的未来</h1>' %}"

%div{style: "margin: 50px auto; max-width: 600px"}<>
  %p
    两分钟让你了解申请方
  %div{style: "margin: 20px 0"}
    %video{width: "100%", height: "auto", controls: "controls", autoplay: "autoplay"}
      %source{src: "http://7rf2eh.com1.z0.glb.clouddn.com/video/intro.mp4"}
      视频无法播放
  %p
    作为一名学生，自我规划从来都不是一件简单的事情。
    <br />
    不想走弯路？
    <br />
    不知道自己所学的专业是否合适自己？
    <br />
    不知道怎样实现自己的学业目标？
    <br />
    不知道将来应该做什么样的工作？
    <br />
    欣赏一下这两分钟的视频，
    <br />
    看看申请方怎样通过一款APP，帮你解决以上所有问题。
    <br />