== ---
layout: base
title: 申请方 北京总部&山东数据暨服务中心 · 联合招聘启事
language: zh
permalink: /shandong/
== ---
= "\n\n"

.page
  .page-content
    .container<>
      %h2
        申请方是什么？
      %p ApplySquare（申请方）起步于清华与北大，发展于美国，海归成立于清华科技园，是一家专注高等教育领域、面向全球用户的数据公司。目前是全球领先的学生学业发展平台、面向高等教育相关机构的数据与技术驱动的互联网解决方案提供商，践行教育研究的全球智库，致力于推动高等教育研究和教育行业的发展。
      %h2
        申请方做什么？

      %p 作为教育领域的践行者，ApplySquare（申请方）将高等教育需求群体、高等院校及科研机构、政府及教育主管部门、教育服务供应商进行有效连接，让互联网技术与数据资源更好地服务于教育，并为提升教育的公平性、开放性和有效性，推动教育改革，以及配合推动国家教育战略做出贡献。
      %p 我们希望成为学生的学业规划助手。通过提供丰富的教育数据库、高效的在线交互工具、互助的学业社区以及科学的测评系统，帮助学生
      %ul
        %li 获取开放性的教育资源；
        %li 实现高效率的学业发展；
        %li 收获个性化的教育体验。
      %p 我们希望成为高等院校及科研机构、政府及教育主管部门、教育服务供应商的可靠的战略合作伙伴。通过提供数据和技术驱动的信息系统服务、数据服务、咨询服务、渠道服务和合作教育服务，协同机构
      %ul
        %li 部署数据基础设施，进行数据驱动升级；
        %li 提高科研、教学和教育服务管理的效率；
        %li 连接学生，并提升其学业发展的用户体验。
      %p 我们希望成为践行教育研究的全球智库。通过分布在全球各地的研究站，携手教育研究员针对目标教育课题，进行严肃、缜密的调研和科学、专业的分析，结合规范研究与实证研究的范式，活用量化研究和质性研究的方法，提炼形成研究报告，面向教育决策者
      %ul
        %li 提供从教育理论到教育应用的研究支持；
        %li 协助教育决策从战略到战术的落地执行；
        %li 加强对教育决策从制定到执行的有效评估。
      %p 我们希望推动教育行业的发展。我们将致力于加强教育资源的供给和匹配效率，健全教育服务的供应链体系，完善教育评价的手段、内容与机制，提倡因材施教的个性化教育实践，助力打通政用产学研通道，为中国教育行业
      %ul
        %li 促进教育机会的公平性和可传递性；
        %li 提升教育服务的透明度和标准化；
        %li 推动教育发展的开放性和国际化。
      %p 最终使教育行业能让每一个高等教育受众生有所学，学有所得，拥有更好的学业发展。
      %h2
        申请方为什么同时开设山东数据暨服务中心？
      %ul
        %li
          %p 基于对未来数据行业及数据驱动的人工智能行业的判断，并协同考虑业务发展战略、人才聚集程度、地理位置等因素，团队在山东建立数据分中心，依托于此构成申请方数据供应链的重要环节；
        %li
          %p 申请方团队重视开发山东市场，团队在山东建立服务分中心，依托于此和地方政府、媒体、高校及科研机构开展战略合作；
        %li
          %p 申请方团队非常知晓并尊重在山东高校读书的同学们的品质、知识储备和能力；
        %li
          %p 山东籍同事目前在申请方的高管及整个团队中占有最高比例。
      %h2
        工作地点北京OR山东？
      %p 我们会根据具体岗位的业务需求和个人的实际情况，来确定未来的工作地点。无论工作地点为北京或是山东：
      %ul
        %li
          %p 所有同事都将入职北京公司，并在北京总部进行相关入职培训；
        %li
          %p 所有同事都将有机会到另一工作地点进行业务交流。北京总部和山东中心有较强业务往来，因此身在北京的同事会不定期的去济南给当地同事进行相关业务交接和培训；身在济南的同事也会不定期的到北京参加业务学习，保持彼此间的流动性。
      %h2
        你为什么要加入我们？
      %ul
        %li 我们提供富有竞争力的薪金+福利（含五险一金）+期权的价值回报；
        %li 你可以和一群优秀、友善的同事一起工作；
        %li 做可以真正创造价值的事，并产生足够正向的社会影响力。
      %h2
        我们在寻找什么样的你？
      %p 你愿意全职加入我们：
      %ul
        %li 你喜欢创业团队，有较高的抗压能力，有从战略层面思考问题的习惯；你有一套自己的团队管理方式，深谙如何整合出一支高效高质的队伍；
        %li 你对教育、互联网行业有极高的热情。你是重点高校本科或本科以上的毕业生，且向往教育、互联网相关工作；或者你已经在教育、互联网、其他非教育垂直领域深耕多年；
        %li 你经历过完整且系统的Teaching/Research/Service的训练，对高等教育具有相当的兴趣，你愿意专注研究未知同时耐得住寂寞。你舍不得多年来在高等教育领域的积累，不想离开高等教育的氛围，不忍放弃高等教育的思考方式；
        %li 你喜欢沉淀性的阅读。你善于从各种各样的渠道里发现有趣有用的知识，比如自媒体，学术期刊，校园报纸，电视报道等等，感兴趣世界各个角落发生的事情。同时你拥有好的中英文阅读能力、阅读效率和好的阅读习惯，时不时有冲动整理资讯，表达观点；
        %li 你和以下标签词有或多或少的关系，比如数据挖掘、机器学习、人工智能、自然语言处理、推荐系统等。你善于利用相关算法，发现数据和业务背后的规律；
        %li 你有优秀的关系数据库架构设计能力，精通数据库的性能优化。你还拥有丰富的数据库日常维护经验，擅于分析运行瓶颈，并提供改进方案。
      %p 或者你愿意以实习的身份加入我们：
      %ul
        %li 你懂专业有态度，十分渴望与人分享你对学业规划的经验，能清晰的用文字表述你的想法；
        %li 你是学校里传说的"社团达人"和"活动帝"，策划主办上百场活动不觉得累，你思维活跃永远有好玩的点子，你办的活动大家都特别愿意参加；
        %li 你对数据挖掘非常狂热，零散的数据在你这里总会被整合得超级有条理。
      %p 如果你满足上述任何一项描述，你都是我们想要的人。
      %p
        %strong 我们招哪些职位？
      %table.table.table-striped.table-bordered.table-shandong
        %thead
          %tr
            %th{"style": "width: 100px"} 职位名称
            %th{"style": "width: 100px"} 工作类型
            %th{"style": "width: 100px"} 工作属性
            %th 工作内容
            %th 任职要求
        %tbody
          %tr
            %td 运营中心主管
            %td 管理
            %td 全职
            %td 1 参与制定和实施运营中心发展战略，带领各部门共同推动运营中心发展2 负责运营中心的日常运营及团队管理工作3 负责协调跨部门工作，建立有效的团队协作机制，提高执行力
            %td 1 具有良好的战略规划、统筹能力，擅长组织和协调2 具有较强的沟通、领导能力，有出色的前瞻性和高端决策能力，逻辑清晰3 具有良好的创业精神、责任担当及良好的职业素养，抗压能力强
          %tr
            %td 产品运营主管
            %td 运营
            %td 全职
            %td 1 负责山东地区产品运营及团队管理工作2 对接北京总部产品运营需求，落地执行运营方案 3 整理分析运营的各项数据，并提供可持续性方法，提高用户粘性4 及时监控和处理产品运营活动过程中的各类事件，收集并处理用户反馈，制定产品持续改进的策略
            %td 1 熟悉互联网产品特性，具备优秀的数据导向的工作思维2 良好的策划及执行能力，较强的团队协作运营管理能力，顾全大局，责任心强3 学习能力和协作能力强，思维活跃，领悟力强，有清晰的逻辑和条理性
          %tr
            %td 数据运营主管
            %td 数据
            %td 全职
            %td 1 负责山东地区数据运营及团队管理工作2 对接北京总部数据运营需求，落地执行运营方案3 根据现有业务及发展优化数据采集方法，推进产品数据库各维度的完善4 提供业务数据报告支持
            %td 1 对数据敏感，熟悉运营数据的采集方法、统计规则、转化指标等2 具备良好的学习能力以及业务结合能力，具备独立撰写数据分析报告能力3 具备较强的沟通合作能力、逻辑思考能力
          %tr
            %td 高等教育研究编辑
            %td 高研
            %td 全职
            %td 1 负责高等教育研究内容的采集、编辑、汇总、编写等维护工作2 组织、策划完成相关原创稿件的撰写和采访3 负责专题活动的策划和内容创作，并协调相关团队完成上线及活动执行
            %td 1 大学本科或以上学历、有海外留学申请及就读背景，以及专业研究经历者优先2 具有国际教育或教育媒体、大型教育类网站编辑经验者优先3 文字表达能力强，熟悉了解常用的网站编辑软件、网络营销的基本知识及技术4 有新媒体运营相关经验，熟悉微信、微博等新媒体运营方式5 良好的沟通能力，具有高度的责任心，做事积极主动
          %tr
            %td 后台开发工程师
            %td 技术研究
            %td 全职
            %td 1设计开发后台申请方后台业务逻辑，数据处理流水线，建立可扩展高度复用的通用架构 2 主要编程语言是Go, Python
            %td 1优秀的学习能力，分析和解决问题的能力和强烈的进取心 2具备良好的沟通能力和团队合作精神 3了解基本计算机理论，数据结构与算法 4了解SQL、NoSQL 数据库理念与操作
          %tr
            %td 社区运营实习生（校园场景）
            %td 运营
            %td 高级实习生
            %td 1 院校类社区版块的内容运营，用户激励及互动2 各类校园生活信息查询，信息筛选，内容编辑3 协助其他运营管理事宜
            %td 1 具备校园信息识别，信息筛选，数据挖掘能力2 热爱文字表达，具备优秀的文字编辑整合能力，有自己的语言风格3 熟练的office软件操作技能4 较强的责任心
          %tr
            %td 社区运营实习生（专业场景）
            %td 运营
            %td 高级实习生
            %td 1 专业类社区版块的内容运营，用户激励及互动2 搭建单个专业的知识体系，内容编辑3 协助其他运营管理事宜
            %td 1 具备专业信息识别，信息筛选，数据挖掘能力2 热爱文字表达，具备优秀的文字编辑整合能力，有自己的语言风格3 熟练的office软件操作技能4 较强的责任心
          %tr
            %td 社区编辑
            %td 运营
            %td 远程实习生
            %td 1 编辑负责在自己所属的专业标签下进行答案的编辑，并与该标签下的用户进行互动2 编辑负责在自己所属的学校标签下进行问题和答案的编辑，并与该标签下的用户进行互动3 编辑负责深度研究本专业学生的关注点，积极与负责人进行沟通并将专业内接受度较高的内容发布在社区
            %td 1 懂专业有态度，清晰了解本专业的学业职业发展路径2 对自身专业的知识体系有强烈的求知和科普愿望3 语言组织能力强，对自己的专业学习历程有强烈的表达欲4 知识型论坛重度使用者优先5 涉猎多个专业领域优先
          %tr
            %td 国内院校数据挖掘实习生
            %td 数据
            %td 高级实习生
            %td 1 国内院校相关数据挖掘，数据整合2 国内院校库数据后台维护3 协助管理任务进程
            %td 1 较强的数据整合，数据分析能力，对数据挖掘有一定了解2 较强的信息搜索，信息筛选能力3 优秀的沟通能力及团队精神4 抗压力强，踏实可靠
          %tr
            %td 海外院校数据库挖掘
            %td 数据
            %td 高级实习生
            %td 1 海外院校项目及留学资讯相关数据挖掘，数据整合2 海外院校及留学相关数据库后台维护2 协助管理任务进程
            %td 1 能比较熟练的阅读英文网站, 并快速搜索信息2 较强的信息搜索，信息筛选能力3 优秀的沟通能力及团队精神4 抗压力强，踏实可靠
          %tr
            %td 专业数据挖掘实习生
            %td 数据
            %td 高级实习生
            %td 1 对学业相关维度数据（书籍，MOOC，网站等）的收集和整理2 按要求对数据进行分类标记和数据库构建及录入3 对大学专业进行调研分析并形成产品页面4 指定主题项目报告的资料收集和撰写
            %td 1 较强的数据整合，数据分析能力，对数据挖掘有一定了解2 较强的信息搜索，信息筛选，信息挖掘能力3 优秀的沟通能力及团队精神4 抗压力强，踏实可靠
          %tr
            %td 活动策划实习生
            %td 市场
            %td 远程实习生
            %td 1 搜集与定期整理日常活动运营数据2 追踪时事热点，并从中提炼出活动创意3 策划并撰写出与校园生活相关的合作文案、活动方案、软文等4 对接、推进活动项目，按要求撰写方案，到后期顺利开展：撰写活动运营报告，确保活动顺利完成
            %td 1 在校本科或研究生，热爱教育、互联网或教育科技2 优秀文案撰写能力3 有校园社团经历，社团负责人优先4 工作责任心强，具备团队协作精神，保证较强的执行力5 对PS等设计类软件熟悉者优先考虑
      %h2
        如何加入我们及什么样的流程？
      %p 全职申请
      %ul
        %li Step 1：发送邮件至hr@applysquare.com，邮件命名为: 职位-姓名，并把简历作为附件；
        %li Step 2： HR会第一时间与你取得联系，并根据你的情况，协调面试时间和地点，共有两轮面试：
      %p 1）办公室一轮面试：面试官为部门负责人+HR，两个工作日内反馈面试结果；
      %p 2）办公室二轮面试：面试官为 CEO+部门负责人+HR，当场定offer。
      %p 实习申请
      %ul
        %li Step 1：发送邮件至hr.intern@applysquare.com，邮件命名为:职位-姓名，并在正文标注你的学校和联系电话；
        %li Step 2： HR会第一时间和你取得联系并预约面试，共有两轮面试：
      %p 1）电话面试：面试官为HR，两个工作日内反馈面试结果；
      %p 2）办公室面试：面试官为部门/业务负责人+HR，当场定offer。
      %p
        更多了解申请方，请访问：
        %a{:href => "http://www.applysquare.com"} www.applysquare.com
