== ---
layout: base
title: 关于
language: zh
permalink: /关于/
== ---
= "\n\n"

= "{% include welcome.html content='<h1>你好, 我是<a href=\"/关于/\">申请方</a>, 出国留学的利器.</h1><h2>吧啦吧啦吧啦.</h2>' %}"

.about<>
  .container<>
    .title<>
      %h2<> 关于
      %p<> 欢迎随时来信, 详细联系方式请参见<a href="/联系/">联系我</a>页面.

= "{% include latest.html posts=site.categories.zh language='zh' %}"

%div<>