.js-disqus{"data-id" => "{% if page.id %}{{ page.id }}{% else %}{{ page.url }}{% endif %}", "data-title" => "{{ page.title }}", "data-url" => "{{ site.url }}{{ page.url }}", "data-language" => "{{ page.language }}"}<>
  #disqus_thread<>
