#footer.footer<>
  .footer-bottom<>
    .container<>
      .footer-menu<>
        .row<>
          .col-sm-3.col-xs-6<>
            %ul<>
              %li<>
                %strong{lang: "en"}<> Join Us
                %strong.hide{lang: "zh"}<> 加入我们
              %li<>
                %a{href: "/加入/"}<>
                  %span{lang: "en"}<> Job Positions
                  %span.hide{lang: "zh"}<> 工作机会
              %li<>
                %a{href: "/校园大使/"}<>
                  %span{lang: "en"}<> Campus Representative
                  %span.hide{lang: "zh"}<> 校园大使
              %li<>
                %a{href: "/环球旅行/"}<>
                  %span{lang: "en"}<> ApplySquare Family Trip
                  %span.hide{lang: "zh"}<> 环球旅行计划
              %li<>
                %a{href: "/联系/"}<>
                  %span{lang: "en"}<> Contact Us
                  %span.hide{lang: "zh"}<> 联系我们
              %li<>
                %a{href: "/申请方/"}<>
                  %span{lang: "en"}<> About Us
                  %span.hide{lang: "zh"}<> 关于我们
          .col-sm-3.col-xs-6.visible-sm.visible-md.visible-lg<>
            %ul<>
              %li<>
                %strong{lang: "en"}<> Follow Us
                %strong.hide{lang: "zh"}<> 关注我们
              %li<>
                %a{href: "http://www.weibo.com/applysq/", target: "_blank"}<>
                  %span{lang: "en"}<> Weibo
                  %span.hide{lang: "zh"}<> 新浪微博
              %li<>
                %a{href: "http://page.renren.com/601739278/", target: "_blank"}<>
                  %span{lang: "en"}<> Renren
                  %span.hide{lang: "zh"}<> 人人网
              %li<>
                %a{href: "https://twitter.com/applysquare/", target: "_blank"}<>
                  %span{lang: "en"}<> Twitter
                  %span.hide{lang: "zh"}<> Twitter
              %li<>
                %a{href: "https://www.facebook.com/applysquare/", target: "_blank"}<>
                  %span{lang: "en"}<> Facebook
                  %span.hide{lang: "zh"}<> Facebook
          .col-sm-3.col-xs-6<>
            %ul<>
              %li<>
                %strong{lang: "en"}<> Consulting
                %strong.hide{lang: "zh"}<> 咨询服务
              %li<>
                %a{href: "http://a2plan.com/", target: "_blank"}<>
                  %span{lang: "en"}<> Overview
                  %span.hide{lang: "zh"}<> 概况
              %li<>
                %a{href: "http://a2plan.com/packages/", target: "_blank"}<>
                  %span{lang: "en"}<> Student
                  %span.hide{lang: "zh"}<> 学生
              %li<>
                %a{href: "http://a2plan.com/faculty/", target: "_blank"}<>
                  %span{lang: "en"}<> Faculty
                  %span.hide{lang: "zh"}<> 教职
          .col-sm-3.col-xs-6.visible-sm.visible-md.visible-lg<>
            %ul<>
              %li<>
                %strong{lang: "en"}<> Legal
                %strong.hide{lang: "zh"}<> 法律法规
              %li<>
                %a{href: "/服务条款/"}<>
                  %span{lang: "en"}<> Terms of Service
                  %span.hide{lang: "zh"}<> 服务条款
              %li<>
                %a{href: "/隐私权保护声明/"}<>
                  %span{lang: "en"}<> Privacy Policy
                  %span.hide{lang: "zh"}<>
    .banner.visible-xs.visible-sm<>
      .container<>
        .col-xs-8<>
          .logo.pull-left<>
            %a{href: '{{ site.www_url }}/'}<>
              %i.pull-left
          %h1.ellipsis{lang: "en"}<> ApplySquare
          %h1.hide.ellipsis{lang: "zh"}<> 申请方
          %p.ellipsis{lang: "en"}<> Download app for best experience
          %p.hide.ellipsis{lang: "zh"}<> 下载申请方APP，获取更多功能。
        .col-xs-4<>
          %a.pull-right.btn.btn-success{href: "{{ site.www_url }}/app/"}<>
            %span{lang: 'en'}<> Download
            %span.hide{lang: 'zh'}<> 下载
