%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      #button.navbar-toggle.collapsed{type: "button", "data-toggle": "collapse", "data-target": "#navbar"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"}
        %span.logo
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: "{% if page.tab == 'aboutus' %}active{% endif %}"}
          %a{href: "/"}
            %span{lang: "en"}<> About Us
            %span.hide{lang: "zh"}<> 关于我们
        %li{class: "{% if page.tab == 'joinus' %}active{% endif %}"}
          %a{href: "/joinus/"}
            %span{lang: "en"}<> Join Us
            %span.hide{lang: "zh"}<> 加入我们
        %li{class: "{% if page.tab == 'blog' %}active{% endif %}"}
          %a{href: "/blog/"}
            %span{lang: "en"}<> Blog
            %span.hide{lang: "zh"}<> 博客文章
        %li{class: "{% if page.tab == 'media' %}active{% endif %}"}
          %a{href: "/media/"}
            %span{lang: "en"}<> Media
            %span.hide{lang: "zh"}<> 媒体报道
        %li{class: "{% if page.tab == 'a2' %}active{% endif %}"}
          %a{href: "/a2/"}
            %span{lang: "en"}<> A2 Family
            %span.hide{lang: "zh"}<> A2家庭

        -# %li{class: "{% if page.tab == 'home' %}active{% endif %}"}
        -#   %a{href: "/"}
        -#     %span{lang: "en"}<> Home
        -#     %span.hide{lang: "zh"}<> 首页
        -# %li{class: "{% if page.tab == 'news' %}active{% endif %}"}
        -#   %a{href: "/news/"}
        -#     %span{lang: "en"}<> News
        -#     %span.hide{lang: "zh"}<> 媒体
        -# %li{class: "{% if page.tab == 'branding' %}active{% endif %}"}
        -#   %a{href: "/branding/"}
        -#     %span{lang: "en"}<> Branding
        -#     %span.hide{lang: "zh"}<> 品牌
        / %li{class: "{% if page.tab == 'family' %}active{% endif %}"}
        /   %a{href: "/family/"}
        /     %span{lang: "en"}<> A2 Family
        /     %span.hide{lang: "zh"}<> A2 Family
        -# %li{class: "{% if page.tab == 'team' %}active{% endif %}"}
        -#   %a{href: "/team/"}
        -#     %span{lang: "en"}<> Team
        -#     %span.hide{lang: "zh"}<> 团队
        / %li{class: "{% if page.tab == 'archive' %}active{% endif %}"}
        /   %a{href: "/archive/", lang: "en"}
        /     %span<> All posts
        /   %a.hide{href: "/存档/", lang: "zh"}
        /     %span<> 所有文章
