.hide.js-settings<>
  %div{"data-key" => "DEBUG",  "data-value" => "{{ site.debug }}"}<>
  %div{"data-key" => "ANALYTICS",  "data-value" => "{{ site.analytics }}"}<>
  %div{"data-key" => "VERSION",  "data-value" => "{{ site.time | date: '%s' }}"}<>
  %div{"data-key" => "SITE_URL",  "data-value" => "{{ site.url }}"}<>
  %div{"data-key" => "MEDIA_URL",  "data-value" => "{{ site.media_url }}"}<>
  %div{"data-key" => "STATIC_URL",  "data-value" => "{{ site.static_url }}"}<>